/* 
 * General browser support guidelines:
 * - Should look good in Firefox and IE7.
 * - Should look reasonable IE6.  IE6 can be ignored as long as it doesn't
 *   render the site absolutely horribly.  
 * - Information should be legible in other browsers, even if it looks horrible.
 * - Assume modern non-IE browsers will be standards-compliant and will render
 *   pages in a similar fashion to Firefox, therefore we won't explicitly test.
 *
 * Basics of CSS spacing
 * Border: the line around an element (if any)
 * Margin: spacing between the border and other elements on the page (i.e. spacing outside your item)
 * Padding: spacing between the border and the contents of the element (i.e. spacing inside your item)
 *
 * You can do this:      
 * padding-top: 5px;
 * padding-right: 6px;
 * padding-bottom: 7px;
 * padding-left: 8px;
 * 
 * Or do the same with this shortcut:
 * padding: 5px 6px 7px 8px;
 * The shorcut follows the order North, East, South, West i.e. top, right, bottom, left
 * 
 * Other common shortcut:
 * padding: 8px 5px;
 * This means padding top and bottom = 8px, padding left and right = 5px.
 * 
 * Px is an absolute measure of pixels on screen. Em is related to text size. If in doubt use em.  
 */
/*#page {
  width: 100%; 
  height: 100%;
  position: relative;
  padding: 0;
  /*background: url(images/background-shading.png) repeat-y;
}*/

body {
  font-size: 16px;
}

#banner {
  display: none;
}

#banner-mobile {
  display: block;
}

#contact-globe {
  display: none;
}

#search-box {
  display: none;
}

#language-select-form, #language-select-form select {
  display: none;
  float: left;
  width: 100%;
  height: 40px;
}

#language-select-form select {
  display: block;
}

#mobile-menu-container {
  position: absolute;
  width: 100%;
  z-index: 2;
}

#mobile-language, #mobile-menu {
  width: 14%;
  height: 50%;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

#mobile-menu {
  top: 50%;
}

#mobile-menu img {
  top: 5%;
}

#mobile-language {
  padding-top: 5px;
}

#mobile-language img {
  bottom: 10%;
}

.header-button {
  width: 70%;
  position: absolute;
}

#mobile-logo {
  width: 90px;
  height: 100%;
  display: block;
}

#current-lang-flag {
  display: none;
}

#musicbutton {
  display: none;
}

#topnav {
  display: none;
}

#container {
  /*background: url("images/left-menu-bg.png") repeat-y left;*/
  /* test background: #ff0000; */
  border-bottom: 4px solid #ba0915;
}

#sidebar-left {
  display: block;
  width: 100%;
  overflow-x: scroll;
  background-color: #f4efaa;
  height: auto;
}

#sidebar-left ul {
  list-style: none;
  display: table-row;
  margin: 0;
  padding: 0;
}

#sidebar-left li {
  display: table-cell;
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: nowrap;
  border-bottom: 1px solid #ff9933;
}

#sidebar-left li.active-trail a {
  background-color: #f8ce7d;
  font-weight: bold;
}

#sidebar-left li a {
  color: #000;
  display: block;
  padding: 0.5em 15px;
  text-decoration: none;
}

#main { /* everything except top menu, left menu and footer */
  background: #f0f0ff; /* image to be included here url(images/; */
  float: left;
  width: 100%;
  line-height: 1.5em;
}

#content {
  margin: 10px;
  word-wrap: break-word;
}

#logo-title {
  position: relative;
}

#logo-title img {
  width: 100%;
}

.offcanvas {
  float: right;
  margin-right: -100%;
  width: 200px;
  z-index: 3;
  height: 100%;
  padding: 0.6em 0;
  border: none;
  background-color: #ff6600;
  display: none;
}

.offcanvas ul { list-style: none; padding: 0px; margin: 0px; text-align: left; font-weight: normal; }
.offcanvas ul li { text-align: left; display: block; padding: 0;}
.offcanvas ul li a { display: block; text-decoration: none; border-bottom: 1px solid #ffaa00; color: #ffffff; padding: 12px; }
.offcanvas ul li a:hover { background-color:#ffaa00; }

.transition {
  transition: .2s margin ease;
}

.page {
  float: left;
  margin-left: 0;
  width: 100%;
  background: url(images/page-bg.png) repeat-y top;
}

body { background-color: none; overflow-x: hidden; }
body.active .offcanvas { margin-right: -2px; right: -2px; position: fixed; display: block;}
body.active .page { margin-left: -200px; border-right: 2px solid #ffaa00; }
body.active { background-color: #ff6600; overflow: hidden; }
body.active #mobile-menu, body.active #mobile-language { right: 200px; }

#ui-tooltip-mobile {
  position: fixed;
  display: none;
  width: 90%;
  max-height: 50%;
  background-color: #F8CE7D;
  z-index: 15000;
  padding: 4%;
  overflow-y: auto;
  border: 4px solid #BA0915;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-box-shadow: 1px 5px 5px 0px rgba(50, 50, 50, 0.47);
  -moz-box-shadow:    1px 5px 5px 0px rgba(50, 50, 50, 0.47);
  box-shadow:         1px 5px 5px 0px rgba(50, 50, 50, 0.47);
}

.qtip {
  display: none !important;
}


/** Bible Studies **/
.term-highlight-left, .term-highlight-right {
    width: 100% !important;
    background-size: contain !important;
}

.term-highlight-left h2, .term-highlight-right h2 {
    background-size: cover !important;
}

#pdf-link, #standalone-pdf-link {
  display: none;
}

.mobile-table-wrap {
  overflow-x: scroll;
  width: 100%;
}

#content blockquote {
  width: 100%;
}

#content img.standalone-image {
  width: 100%;
  height: auto;
}

p img.image-right, p img.image-left {
  width: 100% !important;
  margin: 0px !important;
}