/* 
 * General browser support guidelines:
 * - Should look good in Firefox and IE7.
 * - Should look reasonable IE6.  IE6 can be ignored as long as it doesn't
 *   render the site absolutely horribly.  
 * - Information should be legible in other browsers, even if it looks horrible.
 * - Assume modern non-IE browsers will be standards-compliant and will render
 *   pages in a similar fashion to Firefox, therefore we won't explicitly test.
 *
 * Basics of CSS spacing
 * Border: the line around an element (if any)
 * Margin: spacing between the border and other elements on the page (i.e. spacing outside your item)
 * Padding: spacing between the border and the contents of the element (i.e. spacing inside your item)
 *
 * You can do this:      
 * padding-top: 5px;
 * padding-right: 6px;
 * padding-bottom: 7px;
 * padding-left: 8px;
 * 
 * Or do the same with this shortcut:
 * padding: 5px 6px 7px 8px;
 * The shorcut follows the order North, East, South, West i.e. top, right, bottom, left
 * 
 * Other common shortcut:
 * padding: 8px 5px;
 * This means padding top and bottom = 8px, padding left and right = 5px.
 * 
 * Px is an absolute measure of pixels on screen. Em is related to text size. If in doubt use em.  
 */
#page {
  width: 1000px; 
  margin: 0 auto;
  /* background: url(images/background-shading.png) repeat-y; */
}

#header {
  background: #ff9933 url("images/banner-shading.png") top repeat-x;
  border-bottom: 4px solid #ba0915;
  position: relative;
  height: 170px;
}

#banner {
  display: block;
}

#banner-mobile {
  display: none;
}

#contact-globe {
  font-size: 1.16em;
  position: absolute;
  top: 79px;
  right: 293px;
  font-weight: bold;
}

#contact-globe a {
  color: #fff;
  text-decoration: none;
}

#contact-globe img {
 vertical-align: middle;
 margin-right: 2px;
}

#contact-globe span {
  vertical-align: middle;
}

#banner-forms {
  position: absolute;
  top: 34px;
  right: 3px;
}

hr#contact-divider {
  border: 0;
  width: 70%;
  color: #eee;
  background-color: #eee;
  height: 1px;
  margin-top: 10px;
}

#contact-email {
  clear: both;
  margin: 35px 0;
  font-size: 1.4em;
}

#contact-email img {
  float: left;
  margin: -10px 15px 0 0;
}

#language-select-form {
  width: 190px;
}

#language-select-list {
  height: 22px;
  width: 121px;
}

#current-lang-flag {
  position: absolute;
  top: 1px;
  left: 127px;
  height: 20px;
}

#search-box {
  margin-top: 17px;
}

#edit-search-block-form--2 {
  height: 16px;
  width: 117px;
}

#search-box input {
  vertical-align: middle;
}

#musicbutton {
  position: absolute;
  right: 6px;
  top: 124px;
}

#topnav {
  position: absolute;
  bottom: 0;
  right: 53px;
  font-size: 1.2em;
  font-weight: bold;
}

#primary {
  float: left;
  /* hack to preload the background image for the menu item hover */
  background: url("images/button-hover-left.png") 0 -999px no-repeat;
}

#primary ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* hack to preload the background image for the menu item hover */
  background: url("images/button-hover-right.png") 0 -999px no-repeat;
}

#primary li {
  float:left;
  background:url("images/button-normal-left.png") no-repeat left bottom;
  margin: 0;
  padding: 0 0 0 14px;
}

#primary a {
  display: block;
  background: url("images/button-normal-right.png") no-repeat right bottom;
  padding: 16px 14px 14px 0; /* 15px 15px 15px 6px; */
  text-decoration: none;
  color: #000066; 
}

#primary a.active, #primary a.active-trail {
  color: #fff;
}

#primary li:hover a {
  background: url("images/button-hover-right.png") no-repeat right bottom;
}
#primary li:hover {
  background:url("images/button-hover-left.png") no-repeat left bottom;
}

#container {
  background: url("images/left-menu-bg.png") repeat-y left;
  /* test background: #ff0000; */
  border-bottom: 4px solid #ba0915;
}

#sidebar-left {
/* background colour done in #container */
  float: left;
  position: relative;
  z-index: 3;
}

#sidebar-left ul {
  float: left;
  z-index: 3;
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar-left li {
  margin: 0;
  padding: 0;
  display: block;
}

#sidebar-left li.active-trail a {
  background-color: #f8ce7d;
  font-weight: bold;
}

#sidebar-left li a {
  color: #000;
  width: 180px;
  display: block;
  padding: 0.5em 12px;
  text-decoration: none;
/*  border-bottom: 1px solid #f8ce7d; */
    border-bottom: 1px solid #ff9933;
}

#sidebar-left li.first a {
  padding-top: 0.8em;
}

#sidebar-left li a:hover {
  background-color: #f8ce7d;
}

#main { /* everything except top menu, left menu and footer */
  background: #f0f0ff; /* image to be included here url(images/; */
  /* margin-left: 204px; */
  float: left;
  width: 745px;
  line-height: 1.5em;
  /* note coloured border-bottom used instead of padding as weird ie7 bug was changing the colour of the padded area when you scroll down */
  padding: 0.7em 20px 1.5em 16px; /*30px;*/
  margin-left: 14px;
}