/* Body #main is more specific than just #main, so it takes precedence over the 
 * rules specified in style.css even though that stylesheet is added after this one */
@media all and (max-width: 999px) {

  body #main {
  	border-left: 0;
  	margin-left: 0;
  	width: auto;
  	float: none;
  }

  #content-front {
    float: left;
    width: 98%;
    margin: 10px;
    padding: 0px;
  }

  #content-front img, #content-front span {
    width: 100% !important;
    height: auto !important;
  }

  #flags-box {
  	display: none;
  }

  #front-text {
  	width: 705px;
  }

  #flags {
  	margin-bottom: 5px;
  }

  #associated-churches p {
    margin-bottom: 0.8em;
    margin-top: 0.5em;
  }

  #associated-churches img {
  	margin:0px 5px;
  }

  p.testimony-author {
  	display: none;
  }

  #featured {
    float: right;
    width: 100%;
    display: block;
  }

  #featured div.item {
    background: #ff6600; /* #f4efaa;*/
    margin-bottom: 1em;
    position: relative;
    min-height: 70px;
  }

  #featured div.item h2 {
    position: absolute;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    color: #fff;
  }

  #featured div.item .heading {
    left: 120px;
    top: 10px;
  }

  #featured h2.heading {
    position: absolute;
    float: right;
    padding: 0.8em 0.1em 0.3em 0.6em;
  }

  #featured div.node {
    border-bottom: none;
  }

  #featured div.node h2 {
    top: 30px;
    left: 110px;
    float: left;
    padding: 0.8em 0.1em 0.3em 0.6em;
  }

  #featured div.node #content {
    display: block;
  }

  #featured a {
    text-decoration: none;
  }

  #featured h2 a {
    color: #fff;
    padding-top: 0.2em;
    text-decoration: none;
    font-weight: lighter;
  }

  /* for the temporary upgrade in progress box */
  #featured h2.visitors {
    color: #ba0915;
  }

  #featured img.image-left {
    float: left;
    display: block;
    width: 100px;
    margin: 0 10px 0px 10px;
  }

  #featured p {
    margin: 0;
    display: none;
    padding-top: 6px;
  }

  #featured .field p {
    margin: 0;
    padding: 10px;
    display: none;
    float: left;
    background-color: rgb(254, 230, 206);
  }

  /* for the FAQ box */
  #featured ul {
  	margin-left: 0;
  	padding-left: 0em;
  	text-decoration: none;
  	list-style: none;
  }

  #featured li {
  	margin-bottom: 0.7em;
  }

  #page-title {
    margin: 10px 10px;
  }

  .arrow {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: none;
    width: 30px;
    height: auto;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
  }

  .arrow:active {
    background-color: pink;
    opacity: 0.5;
    border-radius: 30px;
  }

  #arrow-down {
    display: block;
  }

}