/* Body #main is more specific than just #main, so it takes precedence over the 
 * rules specified in style.css even though that stylesheet is added after this one */
@media all and (max-width: 999px) {

  body #main {
  	border-left: 0;
  	margin-left: 0;
  	width: auto;
  	float: none;
  }

  #content {
    margin: 10px;
  }

  #content-front {
    float: left;
    padding: 0px;
  }

  #content-front p img, #content-front span {
    width: 100% !important;
    height: auto !important;
  }

  #flags-box {
  	display: none;
  }

  #front-text {
  	width: 705px;
  }

  #flags {
  	margin-bottom: 5px;
  }

  #associated-churches p {
    margin-bottom: 0.8em;
    margin-top: 0.5em;
  }

  #associated-churches img {
  	margin:0px 5px;
  }

  p.testimony-author {
  	display: none;
  }

  #featured {
    display: none;
  }

  .mobileFeatured {
    float: right;
    width: 100%;
    display: block;
  }

  .mobileFeatured div.item {
    background: #ff6600; /* #f4efaa;*/
    margin-bottom: 1em;
    position: relative;
  }

  .mobileFeatured div.item h2 {
    font-size: 1.3em;
    margin: 0px 5px;
    color: #fff;
  }

  .mobileFeatured h2.heading {
    margin: 0px 5px;
  }

  .mobileFeatured h2.heading2 {
    margin: 0px 5px;
    margin-bottom: 10px !important;
    text-decoration: underline;
  }

  .mobileFeatured div.node {
    border-bottom: none;
    position: relative;
  }

  .mobileFeatured div.node #content {
    display: block;
  }

  .mobileFeatured a {
    text-decoration: none;
  }

  .mobileFeatured h2 a {
    color: #fff;
    padding-top: 0.2em;
    text-decoration: none;
    font-weight: lighter;
  }

  /* for the temporary upgrade in progress box */
  .mobileFeatured h2.visitors {
    color: #ba0915;
  }

  .mobileFeatured img.image-left {
    display: block;
    width: 100px;
    margin: 0px 10px 0px 0px;
    vertical-align: top;
  }

  .mobileFeatured p {
    margin: 0;
    display: none;
    padding-top: 6px;
  }

  .mobileFeatured .field p {
    margin: 0;
    padding: 10px;
    display: none;
    float: left;
    background-color: rgb(254, 230, 206);
  }

  /* for the FAQ box */
  .mobileFeatured ul {
  	margin-left: 0;
  	padding-left: 0em;
  	text-decoration: none;
  	list-style: none;
  }

  .mobileFeatured li {
  	margin-bottom: 0.7em;
  }

  .arrow {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: none;
    width: 30px;
    height: auto;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
  }

  .arrow:active {
    background-color: pink;
    opacity: 0.5;
    border-radius: 30px;
  }

  .arrow-down {
    display: block;
  }

}