p.testimony-author {
  margin-bottom: 2em;
  font-size: 1.2em;
  font-weight: bold;
}

#testimonyvideo {
  width: 100%;
  text-align: center;
}

hr.testimony-video-divider {
  margin-top: 15px;
  margin-bottom: 30px;
}

.testimony-pics {
  float: left;
  width: 50%;
  margin: 0 20px 10px 0px;
  text-align: center;
}

.testimony-pics img {
  margin-top: 20px;
}

.testimony-pics img.first {
  margin-top: 0;
}

#videoplayer {
  width: 100% !important;
  min-height: 200px !important;
  max-height: 300px !important;
}